{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>

    <div>
        ...here is the about page!
    </div>

    <div>
        <img src="{{ MEDIA_URL }}nakuru.jpg"
                 alt="Picture of Flamingoes" height="681" width="1024"/>
    </div>

    <div>
        <br />This demo has been put together by {{ my_name }}
    </div>
    <div>
    <button id="about-btn">
        Click Me - I'm JavaScript on Speed</button>
    <p>This is an example</p>
    <p>This is another example</p>
    </div>
    <div id="msg">
        Hello - I'm here for a JQuery Example too
    </div>
{% endblock %}

